<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>zeronojoin</key>
    <string>zeronojoin.glif</string>
    <key>zerojoin</key>
    <string>zerojoin.glif</string>
    <key>lefttoright</key>
    <string>lefttoright.glif</string>
    <key>righttoleft</key>
    <string>righttoleft.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>u060C</key>
    <string>u060C_.glif</string>
    <key>u061B</key>
    <string>u061B_.glif</string>
    <key>u061F</key>
    <string>u061F_.glif</string>
    <key>u0640</key>
    <string>u0640.glif</string>
    <key>u064B</key>
    <string>u064B_.glif</string>
    <key>u064C</key>
    <string>u064C_.glif</string>
    <key>u064D</key>
    <string>u064D_.glif</string>
    <key>u064E</key>
    <string>u064E_.glif</string>
    <key>u064F</key>
    <string>u064F_.glif</string>
    <key>u0650</key>
    <string>u0650.glif</string>
    <key>u0651</key>
    <string>u0651.glif</string>
    <key>u0652</key>
    <string>u0652.glif</string>
    <key>uE820</key>
    <string>uE_820.glif</string>
    <key>uE821</key>
    <string>uE_821.glif</string>
    <key>uE822</key>
    <string>uE_822.glif</string>
    <key>uE823</key>
    <string>uE_823.glif</string>
    <key>uE824</key>
    <string>uE_824.glif</string>
    <key>uE825</key>
    <string>uE_825.glif</string>
    <key>uE826</key>
    <string>uE_826.glif</string>
    <key>uE827</key>
    <string>uE_827.glif</string>
    <key>uE828</key>
    <string>uE_828.glif</string>
    <key>uE829</key>
    <string>uE_829.glif</string>
    <key>uE82A</key>
    <string>uE_82A_.glif</string>
    <key>uE82B</key>
    <string>uE_82B_.glif</string>
    <key>uE82C</key>
    <string>uE_82C_.glif</string>
    <key>uE82D</key>
    <string>uE_82D_.glif</string>
    <key>uFC60</key>
    <string>uF_C_60.glif</string>
    <key>uFC61</key>
    <string>uF_C_61.glif</string>
    <key>uE818</key>
    <string>uE_818.glif</string>
    <key>uFC5E</key>
    <string>uF_C_5E_.glif</string>
    <key>uFC62</key>
    <string>uF_C_62.glif</string>
    <key>uFC5F</key>
    <string>uF_C_5F_.glif</string>
    <key>u0621</key>
    <string>u0621.glif</string>
    <key>u0622</key>
    <string>u0622.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>u0623</key>
    <string>u0623.glif</string>
    <key>uFE84</key>
    <string>uF_E_84.glif</string>
    <key>u0624</key>
    <string>u0624.glif</string>
    <key>uFE86</key>
    <string>uF_E_86.glif</string>
    <key>u0625</key>
    <string>u0625.glif</string>
    <key>uFE88</key>
    <string>uF_E_88.glif</string>
    <key>u0626</key>
    <string>u0626.glif</string>
    <key>uFE8A</key>
    <string>uF_E_8A_.glif</string>
    <key>uFE8B</key>
    <string>uF_E_8B_.glif</string>
    <key>uFE8C</key>
    <string>uF_E_8C_.glif</string>
    <key>u0627</key>
    <string>u0627.glif</string>
    <key>uFE8E</key>
    <string>uF_E_8E_.glif</string>
    <key>u0628</key>
    <string>u0628.glif</string>
    <key>uFE90</key>
    <string>uF_E_90.glif</string>
    <key>uFE91</key>
    <string>uF_E_91.glif</string>
    <key>uFE92</key>
    <string>uF_E_92.glif</string>
    <key>u067E</key>
    <string>u067E_.glif</string>
    <key>uFB57</key>
    <string>uF_B_57.glif</string>
    <key>uFB58</key>
    <string>uF_B_58.glif</string>
    <key>uFB59</key>
    <string>uF_B_59.glif</string>
    <key>u062A</key>
    <string>u062A_.glif</string>
    <key>uFE96</key>
    <string>uF_E_96.glif</string>
    <key>uFE97</key>
    <string>uF_E_97.glif</string>
    <key>uFE98</key>
    <string>uF_E_98.glif</string>
    <key>u062B</key>
    <string>u062B_.glif</string>
    <key>uFE9A</key>
    <string>uF_E_9A_.glif</string>
    <key>uFE9B</key>
    <string>uF_E_9B_.glif</string>
    <key>uFE9C</key>
    <string>uF_E_9C_.glif</string>
    <key>u062C</key>
    <string>u062C_.glif</string>
    <key>uFE9E</key>
    <string>uF_E_9E_.glif</string>
    <key>uFE9F</key>
    <string>uF_E_9F_.glif</string>
    <key>uFEA0</key>
    <string>uF_E_A_0.glif</string>
    <key>u0686</key>
    <string>u0686.glif</string>
    <key>uFB7B</key>
    <string>uF_B_7B_.glif</string>
    <key>uFB7C</key>
    <string>uF_B_7C_.glif</string>
    <key>uFB7D</key>
    <string>uF_B_7D_.glif</string>
    <key>u062D</key>
    <string>u062D_.glif</string>
    <key>uFEA2</key>
    <string>uF_E_A_2.glif</string>
    <key>uFEA3</key>
    <string>uF_E_A_3.glif</string>
    <key>uFEA4</key>
    <string>uF_E_A_4.glif</string>
    <key>u062E</key>
    <string>u062E_.glif</string>
    <key>uFEA6</key>
    <string>uF_E_A_6.glif</string>
    <key>uFEA7</key>
    <string>uF_E_A_7.glif</string>
    <key>uFEA8</key>
    <string>uF_E_A_8.glif</string>
    <key>u062F</key>
    <string>u062F_.glif</string>
    <key>uFEAA</key>
    <string>uF_E_A_A_.glif</string>
    <key>u0630</key>
    <string>u0630.glif</string>
    <key>uFEAC</key>
    <string>uF_E_A_C_.glif</string>
    <key>u0631</key>
    <string>u0631.glif</string>
    <key>uFEAE</key>
    <string>uF_E_A_E_.glif</string>
    <key>u0632</key>
    <string>u0632.glif</string>
    <key>uFEB0</key>
    <string>uF_E_B_0.glif</string>
    <key>u0698</key>
    <string>u0698.glif</string>
    <key>uFB8B</key>
    <string>uF_B_8B_.glif</string>
    <key>u0633</key>
    <string>u0633.glif</string>
    <key>uFEB2</key>
    <string>uF_E_B_2.glif</string>
    <key>uFEB3</key>
    <string>uF_E_B_3.glif</string>
    <key>uFEB4</key>
    <string>uF_E_B_4.glif</string>
    <key>u0634</key>
    <string>u0634.glif</string>
    <key>uFEB6</key>
    <string>uF_E_B_6.glif</string>
    <key>uFEB7</key>
    <string>uF_E_B_7.glif</string>
    <key>uFEB8</key>
    <string>uF_E_B_8.glif</string>
    <key>u0635</key>
    <string>u0635.glif</string>
    <key>uFEBA</key>
    <string>uF_E_B_A_.glif</string>
    <key>uFEBB</key>
    <string>uF_E_B_B_.glif</string>
    <key>uFEBC</key>
    <string>uF_E_B_C_.glif</string>
    <key>u0636</key>
    <string>u0636.glif</string>
    <key>uFEBE</key>
    <string>uF_E_B_E_.glif</string>
    <key>uFEBF</key>
    <string>uF_E_B_F_.glif</string>
    <key>uFEC0</key>
    <string>uF_E_C_0.glif</string>
    <key>u0637</key>
    <string>u0637.glif</string>
    <key>uFEC2</key>
    <string>uF_E_C_2.glif</string>
    <key>uFEC3</key>
    <string>uF_E_C_3.glif</string>
    <key>uFEC4</key>
    <string>uF_E_C_4.glif</string>
    <key>u0638</key>
    <string>u0638.glif</string>
    <key>uFEC6</key>
    <string>uF_E_C_6.glif</string>
    <key>uFEC7</key>
    <string>uF_E_C_7.glif</string>
    <key>uFEC8</key>
    <string>uF_E_C_8.glif</string>
    <key>u0639</key>
    <string>u0639.glif</string>
    <key>uFECA</key>
    <string>uF_E_C_A_.glif</string>
    <key>uFECB</key>
    <string>uF_E_C_B_.glif</string>
    <key>uFECC</key>
    <string>uF_E_C_C_.glif</string>
    <key>u063A</key>
    <string>u063A_.glif</string>
    <key>uFECE</key>
    <string>uF_E_C_E_.glif</string>
    <key>uFECF</key>
    <string>uF_E_C_F_.glif</string>
    <key>uFED0</key>
    <string>uF_E_D_0.glif</string>
    <key>u0641</key>
    <string>u0641.glif</string>
    <key>uFED2</key>
    <string>uF_E_D_2.glif</string>
    <key>uFED3</key>
    <string>uF_E_D_3.glif</string>
    <key>uFED4</key>
    <string>uF_E_D_4.glif</string>
    <key>u0642</key>
    <string>u0642.glif</string>
    <key>uFED6</key>
    <string>uF_E_D_6.glif</string>
    <key>uFED7</key>
    <string>uF_E_D_7.glif</string>
    <key>uFED8</key>
    <string>uF_E_D_8.glif</string>
    <key>u0643</key>
    <string>u0643.glif</string>
    <key>uFEDA</key>
    <string>uF_E_D_A_.glif</string>
    <key>uFEDB</key>
    <string>uF_E_D_B_.glif</string>
    <key>uFEDC</key>
    <string>uF_E_D_C_.glif</string>
    <key>u06AF</key>
    <string>u06A_F_.glif</string>
    <key>uFB93</key>
    <string>uF_B_93.glif</string>
    <key>uFB94</key>
    <string>uF_B_94.glif</string>
    <key>uFB95</key>
    <string>uF_B_95.glif</string>
    <key>u0644</key>
    <string>u0644.glif</string>
    <key>uFEDE</key>
    <string>uF_E_D_E_.glif</string>
    <key>uFEDF</key>
    <string>uF_E_D_F_.glif</string>
    <key>uFEE0</key>
    <string>uF_E_E_0.glif</string>
    <key>u0645</key>
    <string>u0645.glif</string>
    <key>uFEE2</key>
    <string>uF_E_E_2.glif</string>
    <key>uFEE3</key>
    <string>uF_E_E_3.glif</string>
    <key>uFEE4</key>
    <string>uF_E_E_4.glif</string>
    <key>u0646</key>
    <string>u0646.glif</string>
    <key>uFEE6</key>
    <string>uF_E_E_6.glif</string>
    <key>uFEE7</key>
    <string>uF_E_E_7.glif</string>
    <key>uFEE8</key>
    <string>uF_E_E_8.glif</string>
    <key>u0648</key>
    <string>u0648.glif</string>
    <key>uFEEE</key>
    <string>uF_E_E_E_.glif</string>
    <key>u0647</key>
    <string>u0647.glif</string>
    <key>uFEEA</key>
    <string>uF_E_E_A_.glif</string>
    <key>uFEEB</key>
    <string>uF_E_E_B_.glif</string>
    <key>uFEEC</key>
    <string>uF_E_E_C_.glif</string>
    <key>u0629</key>
    <string>u0629.glif</string>
    <key>uFE94</key>
    <string>uF_E_94.glif</string>
    <key>u064A</key>
    <string>u064A_.glif</string>
    <key>uFEF2</key>
    <string>uF_E_F_2.glif</string>
    <key>uFEF3</key>
    <string>uF_E_F_3.glif</string>
    <key>uFEF4</key>
    <string>uF_E_F_4.glif</string>
    <key>uFEF5</key>
    <string>uF_E_F_5.glif</string>
    <key>uFEF6</key>
    <string>uF_E_F_6.glif</string>
    <key>uFEF7</key>
    <string>uF_E_F_7.glif</string>
    <key>uFEF8</key>
    <string>uF_E_F_8.glif</string>
    <key>uFEF9</key>
    <string>uF_E_F_9.glif</string>
    <key>uFEFA</key>
    <string>uF_E_F_A_.glif</string>
    <key>uFEFB</key>
    <string>uF_E_F_B_.glif</string>
    <key>uFEFC</key>
    <string>uF_E_F_C_.glif</string>
    <key>u0649</key>
    <string>u0649.glif</string>
    <key>uFEF0</key>
    <string>uF_E_F_0.glif</string>
    <key>uFDF2</key>
    <string>uF_D_F_2.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>u0652_u064E.liga</key>
    <string>u0652_u064E_.liga.glif</string>
    <key>glyph218</key>
    <string>glyph218.glif</string>
    <key>u0652_u064B.liga</key>
    <string>u0652_u064B_.liga.glif</string>
    <key>u0652_u064D.liga</key>
    <string>u0652_u064D_.liga.glif</string>
  </dict>
</plist>
